body {
  background-color: rgb(212, 212, 212);
}

.App {

}

.Box {
  
}

.Box__up {
  text-align: center;
  margin-bottom: 25px;
}

.Zametki {
  width: 2000px;
  /* background-color: white; */
  display: flex;
  flex-wrap: wrap;
  margin-left: 45px;
}

.Zametka {
  margin-right: 45px;
  border-radius: 15px;
  height: 250px;
  width: 250px;
  background-color: rgb(255, 255, 255);
}

.block {
  width: 100%;
  display: block;
  text-align: center;
  background-color: aqua;
  border-radius: 15px;
}

button {
  border-radius: 7px;
}

input {
  border-radius: 7px;
}

label {
  font-size: 23px;
}

.Buttons {
  
}